.searchResult {
  display: flex;
  flex-direction: column;
  padding: 0.25em 1em;
  height: 100%;
}

.searchResults {
  flex: 1;
  display: grid;
  grid-auto-rows: 0.25fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  place-items: stretch;
  margin-top: 1.5em;
  overflow-y: auto;
}

.items {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a9a9a9;
}