.searchResult {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100%;
}

.searchResults {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2em;
  place-items: stretch;
  margin-top: 1.5em;
  overflow-y: auto;
}

.loader {
  display: flex;
  justify-self: center;
  grid-column: 1 / -1;
  margin-top: 2em;
}

.errorMessage {
  display: flex;
  place-content: center;
  grid-column: 1 / -1;
  color: #424242;
}

.footer {
  display: flex;
  justify-content: center;
}

.pagination {
  li.active {
    background-color: green;
  }
}