.searchResult {
  display: flex;
  flex-direction: column;
  padding: 1em;
  height: 100%;
}

.searchResults {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  gap: 2em;
  place-items: stretch;
  margin-top: 1.5em;
  overflow-y: auto;
}